button {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
}

button:hover {
    background-color: #732d91;
}

button:focus {
    background-color: #5e3370;
    outline: none;
}